@import "e-blue-pro";

@primary: #1e9fff !important;
@navbar-background: #fff;
@navbar-color: #303133;
.navbar .el-button:focus,
.navbar .el-button:hover {
	color: rgba(@navbar-color, 0.8) !important;
}
