<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <Br />
    <br />
    <div class="ui raised very padded text container segment">
        <center>
            {% if messages %}
            <div class="ui icon message">
                <i class="info circle icon"></i>
                <div class="content">
                    {% for message in messages %}
                    <div class="header">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <h2 class="ui center aligned icon header">
                <i class="circular upload icon"></i>
                {{ title }}
            </h2>

            <br />
            <br />

            <div class="ui styled fluid accordion">
                <div class="active title">
                    <i class="dropdown icon"></i>
                    What is a dog?
                </div>
                <div class="active content">
                    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found
                        as a welcome guest in many households across the world.</p>
                </div>
                <div class="active title">
                    <i class="dropdown icon"></i>
                    What kinds of dogs are there?
                </div>
                <div class="active content">
                    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a
                        breed of dog that they find to be compatible with their own lifestyle and desires from a
                        companion.</p>
                </div>
            </div>
        </center>
    </div>
</body>

</html>
